# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Node.js
node_modules/
npm-debug.log

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac specific
.DS_Store

# Database files
*.db
*.sqlite
